@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200&display=swap'); 
@media only screen and (min-width: 768px) {
body{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}
.sub-header{
    margin-top:3rem;
    flex: 1 0;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}
.sub-header a{
    text-decoration: none;
    color: rgb(146, 145, 145);
    padding:1.5rem;
}
.current_page{
    color: black;
    border-radius: 150rem;
    padding: 0.5rem;
  } 

div.gallery {
    border: 1px #ccc;
    margin-top: 0.1rem;
    margin-bottom: 1rem;
  }
  
  /* div.gallery:hover {
    border: 1px solid #777;

  } */
  
  /* div.gallery img {
    width: 100%;
    height: auto;
  } */
  
  div.desc {
    padding: 15px;
    text-align: center;
  }
  
  * {
    box-sizing: border-box;
  }
  
  .responsive {
    /* padding: 0 6px; */
    float: left;
    width: 33.29%;
    
   
  }

  .clearfix:after {
    content: "";
    display: table;
    clear: both;
  }

  .void-in-time-text{
    margin:4rem;
    text-align: center;
  }
  
}
  /* @media only screen and (max-width: 700px) {
    .responsive {
      width: 49.99999%;
      margin: 50px;
      
      

    }
  }
  
  @media only screen and (max-width: 500px) {
    .responsive {
      width: 100%;
      margin: 10px;
    }
  } */

  @media only screen and (min-width: 350px) and (max-device-width: 768px){
    body{
      text-align: center;
      font-family: 'Montserrat', sans-serif;
  }
  .sub-header{
      margin-top:1rem;
      flex: 1 0;
      text-align: center;
      font-family: 'Montserrat', sans-serif;
      font-size: 0.8rem;
  }
  .sub-header a{
      text-decoration: none;
      color: rgb(146, 145, 145);
      padding:1.5rem;
     
  }
  .current_page{
      color: black;
      border-radius: 150rem;
      padding: 0.5rem;
    } 
  
  div.gallery {
      border: 1px #ccc;
      margin-top: 0rem;
      margin-bottom: 1rem;
     
    }
    
    /* div.gallery:hover {
      border: 1px solid #777;
  
    } */
    
    /* div.gallery img {
      width: 100%;
      height: auto;
    } */
    
    div.desc {
      padding: 15px;
      text-align: center;
    }
    
    * {
      box-sizing: border-box;
    }
    
    .responsive {
      /* padding: 0 6px; */
      /* float: left; */
      width: 100%;
      /* margin:14px; */
      /* padding-right:2.5rem; */
      align-items: center;
     
    }
  
    .clearfix:after {
      content: "";
      display: table;
      clear: both;
    }
  
    .out-of-sight-text{
      margin:4rem;
      text-align: center;
    }
  }
  