@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200&display=swap'); 
@media only screen and (min-width: 768px) {
body{
   
    font-family: 'Montserrat', sans-serif;
}
.product{
    margin-left  :4rem;
    margin-right :4rem;
    margin-top:4rem;
    text-align: left;
}

.calendar-heading{
    margin-left  :4rem;
    margin-right :4rem;
    margin-top:4rem;
    text-align: justify;
}
.calendar-description{
    text-align: left;
    margin-top:2rem;
    margin-left: 4rem;
}
.place-order{
    position: relative;
    margin-top:2rem;
    margin-right: 80rem;
}
.order-now{
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(146, 145, 145);
    color: black;
    border-color: rgb(146, 145, 145);
    height:2rem;
    width:9rem;
    font-size: 1rem;
    border-style: none;
}
.order-now:hover{
cursor:grab;
height:3rem;
width:10rem;
}
}


@media only screen and (min-width: 350px) and (max-device-width: 768px){
body{
   
    font-family: 'Montserrat', sans-serif;
}
.product{
    margin-left  :2rem;
    margin-right :2rem;
    margin-top:4rem;
    text-align: left;
}

.calendar-heading{
    margin-left  :2rem;
    margin-right :2rem;
    margin-top:4rem;
    text-align: justify;
}
.calendar-description{
    text-align: left;
    margin-top:2rem;
    margin-left: 0.5rem;
}
.place-order{
    position: relative;
    margin-top:2rem;
   
}
.order-now{
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(146, 145, 145);
    color: black;
    border-color: rgb(146, 145, 145);
    height:2rem;
    width:9rem;
    font-size: 1rem;
    border-style: none;
}
.order-now:hover{
cursor:grab;
height:3rem;
width:10rem;
}
}