@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200&display=swap'); 
body{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}
.header-image{
    text-align: center;
    padding-top: 5rem;
    padding-bottom: 2rem;

}
.nav-right{
    flex: 1 0;
    text-align: center;
}
.nav-right a{
    text-decoration: none;
    padding: 150px;
    color: rgb(146, 145, 145);
    
    
   
}
.current{
    color: black;
    border-radius: 150rem;
    padding: 0.5%;
  } 

  .buttons{
    color:  rgb(152, 152, 152);
    text-decoration: none;
    align-items: center;
    padding:0.5rem;
    opacity: 45%;

  }

.footer{
    height:40px;
    
    
}